.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  padding: 10px 15px;
  margin-top: 10px;
}

.header .header__title {
  font-size: 24px;
  font-weight: 700;
}
.header .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.header .header__header-column {
  display: flex;
  align-self: center;
}
.header .settings__back-btn {
  font-size: 25px;
  margin-right: 15px;
}

.header__channel .channel_number {
  font-size: 24px;
  opacity: 30%;
}
