.navigation {
  background-color: #fcfcfc;
  border-top: 1px solid #f7f7f7;
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 20px 50px;
}
.navigation .nav__list {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.navigation .nav__list-link {
  position: relative;
}
.navigation .nav__badge {
  position: absolute;
  font-size: 8px;
  top: -4px;
  right: -7px;
  color: white;
  background-color: #dc5d46;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
